
<body>
    <p>Movie Info For You!</p>



    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-toggle="collapse"><i class="fa-light fa-file-lines"></i>Movie list</h3>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Name</label>
            </div>
        </div>
            <p> Check out the @Html.ActionLink("Hello World", "Index", "HelloWorld") section!</p>
    </div>

</body>