@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>This is a sandbox app intended for users to play with C# and.Net as a way of learning how to build with these tools.</p>
