@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Movie List";
}
 <h2>Index</h2>

<p>Hello!!</p>

<p> Check out the @Html.ActionLink("Hello World, Welcome", "Welcome", "HelloWorld") section!</p>
<p> Check out the @Html.ActionLink("Movie Time", "Index", "Movies") section!</p>